.background
  //border-bottom: 1px solid #283041
  background-color: #2955D9
  background: #2955D9

.q-page
  max-width: 1024px
  margin: 0 auto
  padding: 0px
  color: #344973
  //font-family: 'Open Sans', sans-serif

.q-pageW
  max-width: 1024px
  margin: 0 auto
  padding: 16px
  color: #344973

.gucci1
  color: #344973

.gucci2
  color: #F2DFD8
.gucci3
  color: #D94B2B
.gucci4
  color: #592014
.gucci5
  color: #A63E26
  border-bottom: 1px solid #592014

.game1
  color: #977EF2
.game2
  color: #2955D9
.game3
  color: #0597F2
.game4
  color: #F25C05
.game5
  color: #F24C3D
.game6
  color: #bb2158!important
.bg-game6
  background-color: #bb2158
  color: #fff
.linkActive
  border-bottom: 2px solid

.q-item__section.column.q-item__section--main.justify-center:hover
  //color: #bb2158

.pularNavegacao,
.pularNavegacao:active,
.pularNavegacao:focus,
.pularNavegacao:hover
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  width: 1px
  height: 1px
  color: transparent
  position: absolute

.btnPadrao:hover,
.btnPadrao:focus
  background-color: #8827101A
  cursor: pointer
  color: #bb2158

.textLinkMenu
  font-size: 16px
  color: #005cb7

.font12
  font-size: 12px
.font12
  font-size: 12px
.font14
  font-size: 14px
.font16
  font-size: 16px
.font18
  font-size: 18px
.font20
  font-size: 20px
.font22
  font-size: 22px

.linkSelecionado:focus,
.linkSelecionado:hover
  border-bottom: 3px solid #bb2158
  line-height: 1em

.borda
  border: 1px solid #ddd

.bordagame6
  border: 1px solid #bb2158

.tabsOrdenar
  border: 1px solid #ddd
  border-radius: 45px
  padding: 0px 15px
  margin: 0px 3px 0px 3px

.escondeVisualmente
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.formItemList
  font-size: 16px
  color: #005cb7

  .formItemList
.q-item:focus,
.q-item:hover
  border-bottom: 1px solid #005cb7
  line-height: 0.2em

.vendedor
  display: inline-block !important
  justify-content: flex-start
  align-items: center
  color: #26A69A
  flex-wrap: wrap

.vendedor:focus,
.vendedor:hover
  //background-color: #8827101A
  cursor: pointer
  color: #bb2158

.resumoAnuncio
  font-size: 0.75rem
  font-weight: 400
  line-height: 1.25rem
  letter-spacing: 0.03333em
  color: #5e5e5e !important
  text-transform: capitalize

.tituloAnuncio
  color: #344973
  font-size: 16px
  font-weight: unset
  text-transform: capitalize
  padding: 2px
  padding-left: 0px
  margin-left: 0px
  margin: 2px
  letter-spacing: 1px
  line-height: 1.00rem

.subTituloAnuncio
  color: #bb2158
  font-size: 12px
  font-weight: normal
  text-transform: capitalize
  padding: 2px
  padding-left: 5px
  margin-left: 0px
  margin-bottom: 10px
  margin: 2px
  letter-spacing: 1px
  line-height: 0.75rem

.q-tab
  min-height: auto

.toolbarImoveis
  align-items: start
  flex-wrap: wrap
  background-color: #fafafa
  padding: 5px
  display: inline-block
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)

.optionGroupFiltros
  text-align: center
  margin: 0px auto
.optionGroupFiltros .q-radio
  display: block
  padding: 15px
  margin: 15px

.optionGroupFiltros .q-radio .q-radio__label
  padding: 0px

.w-card
  height: 220px
  width: 210px
  text-align: center
  justify-items: center
  background-color: #FFF
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  padding: 20px
  margin: 5px
  z-index: 0
  border-radius: 10px
  cursor: pointer

.w-card a
  text-decoration: none!important
  color: #344973

.w-avatar
  margin: 10% auto
  justify-content: center

@media screen and (max-width: 768px)
  .w-card
    height: 180px
    width: 160px
    padding: 3px

.w-card:focus
.w-card:hover
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  color: #bb2158

.w-card-selecionada
  color: #bb2158
  border: 3px solid #bb2158!important
  border-radius: 10px
  height: 225px
  width: 210px
  text-align: center
  justify-items: center
  background-color: #FFF
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
  padding: 10px
  z-index: 0
  cursor: pointer

@media screen and (max-width: 768px)
  .w-card-selecionada
    height: 185px
    width: 165px
    padding: 3px

.w-card-selecionada a
  text-decoration: none!important
  color: #344973

.iconCheck
  position: absolute
  top: -10px
  right: 0px
  border: 1px solid
  padding: 0px
  padding: 1px
  color: #bb2158
  font-weight: bolder
  border-radius: 25px

.w-modalidade
  height: 80px
  width: 160px
  text-align: center
  justify-items: center
  background-color: #FFF
  border-radius: 10px
  padding: 5px
  z-index: 0
  cursor: pointer

.w-card-modalidade
  color: #fff
  background-color: #bb2158!important
  border: 1px solid #bb2158!important
  border-radius: 10px
  height: 80px
  width: 160px
  text-align: center
  justify-items: center
  padding: 5px
  margin: 5px
  z-index: 0
  cursor: pointer

@media screen and (max-width: 768px)
  .w-modalidade
    height: 50px
    width: 110px
    padding: 0px
    margin: 3px

@media screen and (max-width: 768px)
  .w-card-modalidade
    height: 50px
    width: 110px
    padding: 0px

.iconCheck-modalidade
  margin: 0 auto
  color: #bb2158

.q-stepper--horizontal .q-stepper__step-inner
  padding: 8px !important

.q-stepper--contracted .q-stepper__label
  display: inline

.q-stepper--contracted .q-stepper__title
  display: none

.q-stepper--contracted .q-stepper__caption
  margin: 0 auto
  margin-left: 25px
  margin-right: 25px

.q-stepper--horizontal > .q-stepper__nav
  padding: 0px

.itemAlugar
  width: 45%
  margin: 0 auto

.q-stepper--contracted .q-stepper__header .q-stepper__tab
  padding: 5px

.breadcrumbs-w
  margin: 5px
  display: inline-flex
  color: $blue-8
  font-size: 12px

.breadcrumbs-w a
  color: $blue-9!important
  pointer-events: auto
