.background
  //border-bottom: 1px solid #283041
  background-color: #2955D9
  background: #2955D9

.gucci1
  color: #344973

.gucci2
  color: #F2DFD8
.gucci3
  color: #D94B2B
.gucci4
  color: #592014
.gucci5
  color: #A63E26
  border-bottom: 1px solid #592014

.game1
  color: #977EF2
.game2
  color: #2955D9
.game3
  color: #0597F2
.game4
  color: #F25C05
.game5
  color: #F24C3D
.game6
  color: #bb2158
.bg-game6
  background-color: #bb2158
  color: #fff
.linkActive
  border-bottom: 2px solid

.q-item__section.column.q-item__section--main.justify-center:hover
  //color: #bb2158

.pularNavegacao,
.pularNavegacao:active,
.pularNavegacao:focus,
.pularNavegacao:hover
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  width: 1px
  height: 1px
  color: transparent
  position: absolute

.btnPadrao:hover,
.btnPadrao:focus
  background-color: #8827101A
  cursor: pointer
  color: #bb2158

.textLinkMenu
  font-size: 16px
  color: #005cb7

.font12
  font-size: 12px

.font12
  font-size: 12px
.font14
  font-size: 14px
.font16
  font-size: 16px
.font18
  font-size: 18px
.font20
  font-size: 20px
.font22
  font-size: 22px

.footerW
  background-color: #2d3748
  color: #fff
  height: 300px

.list-footerW
  padding: 2px
  margin-left: 20px

.list-footerW h3
  padding: 2px
  padding-bottom: 0px
  margin: 2px
  margin-bottom: 0px
  font-weight: bold
  height: 45px

.list-footerW .q-item
  padding: 0px
  margin-left: 10px
  margin-bottom: 0px
  height: 10px!important

.list-footerW
  .q-item:focus,
  .q-item:hover
    border-bottom: 1px solid #bb2158
    line-height: 0.2em

.linkSelecionado:focus,
.linkSelecionado:hover
  border-bottom: 3px solid #bb2158
  line-height: 1em

.list-footerW .q-item__label
  height: 10px!important

.borda
  border: 1px solid #ddd

.bordagame6
  border: 1px solid #bb2158

.tabsOrdenar
  border: 1px solid #ddd
  border-radius: 45px
  padding: 0px 15px
  margin: 0px 3px 0px 3px

.escondeVisualmente
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.formItemList
  font-size: 16px
  color: #005cb7

  .formItemList
.q-item:focus,
.q-item:hover
  border-bottom: 1px solid #005cb7
  line-height: 0.2em

.vendedor
  display: inline-block !important
  justify-content: flex-start
  align-items: center
  color: #26A69A
  flex-wrap: wrap

.vendedor:focus,
.vendedor:hover
  //background-color: #8827101A
  cursor: pointer
  color: #bb2158

.resumoAnuncio
  font-size: 0.75rem
  font-weight: 400
  line-height: 1.25rem
  letter-spacing: 0.03333em
  color: #242121 !important
  text-transform: capitalize

.tituloAnuncio
  color: #344973
  font-size: 16px
  font-weight: bold
  text-transform: capitalize
  padding: 2px
  padding-left: 0px
  margin-left: 0px
  margin: 2px
  letter-spacing: 1px
